body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
    display: block;
}

th {
    text-shadow: -5px 5px 5px rgba(0,0,0,0.3);
     font-family:thFont;
     font-size:17px;
}

.rotatepic {
    width: 100px;
    height: 100px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}

.rotatepic:hover {
    width: 300px;
    height: 300px;
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}


@font-face {
  font-family: thFont;
  src: url("/Resources/black_jack.ttf") format("opentype");
}
@font-face {
  font-family: footerFont;
  src: url("/Resources/AlexBrush-Regular.ttf") format("opentype");
}
@font-face {
  font-family: sectionFont;
  src: url("/Resources/CandelaBook.otf") format("opentype");
}
@font-face {
  font-family: navFont;
  src: url("/Resources/Boogaloo-Regular.otf") format("opentype");
}
nav {
    font-family:navFont;
    font-size:23px;
    
}

section {
    font-family:sectionFont;
}

footer {
     font-family:footerFont;
     padding-left:2em;
     font-size:20px;
}

.no-close-dialog .ui-dialog-titlebar-close {
    display: none ;
}

.question-div {
    border-radius: 10px;
    border: 3px solid #555FDA;
    background-color:white;
    align-content:center;
    align-items:center;
    text-align:center;
    height:150px;
    width:300px;
    font-family: sectionFont;
}